## Exploração Inicial
Nessa etapa ficaremos familiarizados com os dados disponibilizados e será criado o dataset final a ser usado no projeto.

In [1]:
import pandas as pd
import os
from datetime import datetime
import seaborn as sns

### Debt - US

O significado de cada uma das colunas desse dataset pode ser checado em: 
https://fiscaldata.treasury.gov/datasets/debt-to-the-penny/debt-to-the-penny

In [2]:
from paths import path_debt
us_debt_data = pd.read_csv(path_debt + r"\DebtPenny_19930401_20210927.csv")

In [3]:
us_debt_data.head(2)

,Record Date,Debt Held by the Public,Intragovernmental Holdings,Total Public Debt Outstanding,Source Line Number,Fiscal Year,Fiscal Quarter Number,Calendar Year,Calendar Quarter Number,Calendar Month Number,Calendar Day Number
0,2021-09-27,2.225634e+13,6.170790e+12,2.842713e+13,1,2021,4,2021,3,9,27
1,2021-09-24,2.225856e+13,6.168603e+12,2.842716e+13,1,2021,4,2021,3,9,24

In [4]:
us_debt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7148 entries, 0 to 7147
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Record Date                    7148 non-null   object
 1   Debt Held by the Public        4190 non-null   float64
 2   Intragovernmental Holdings     4190 non-null   float64
 3   Total Public Debt Outstanding  7148 non-null   float64
 4   Source Line Number             7148 non-null   int64
 5   Fiscal Year                    7148 non-null   int64
 6   Fiscal Quarter Number          7148 non-null   int64
 7   Calendar Year                  7148 non-null   int64
 8   Calendar Quarter Number        7148 non-null   int64
 9   Calendar Month Number          7148 non-null   int64
 10  Calendar Day Number            7148 non-null   int64
dtypes: float64(3), int64(7), object(1)
memory usage: 614.4+ KB

### Commodities

In [5]:
# Tratar arquivos de commodities
commodity_data = pd.DataFrame()
from paths import path_com

# Juntar todos os csvs num único arquivo e identificar os dados
for folder in os.listdir(path_com):
    for file in os.listdir(path_com + "\\" + folder):
        data = pd.read_csv(path_com + "\\" +  folder + "\\" + file)
        data["commodity_name"] = str(file).rstrip(".csv")
        data["commodity_type"] = str(folder)
        commodity_data = pd.concat([commodity_data, data])

In [6]:
commodity_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68464 entries, 0 to 2557
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            68464 non-null  object
 1   Close/Last      68464 non-null  float64
 2   Volume          56613 non-null  float64
 3   Open            68464 non-null  float64
 4   High            68464 non-null  float64
 5   Low             68464 non-null  float64
 6   commodity_name  68464 non-null  object
 7   commodity_type  68464 non-null  object
dtypes: float64(5), object(3)
memory usage: 15.9 MB

In [7]:
len(commodity_data.Date.unique())

2566

In [8]:
commodity_data.head(4)

,Date,Close/Last,Volume,Open,High,Low,commodity_name,commodity_type
0,09/10/2021,72.92,25447.0,71.31,73.14,70.96,brent_crude,energy
1,09/09/2021,71.45,34814.0,72.62,73.19,70.89,brent_crude,energy
2,09/08/2021,72.60,30818.0,71.58,72.95,71.56,brent_crude,energy
3,09/07/2021,71.69,34342.0,72.69,72.77,71.10,brent_crude,energy

In [9]:
commodity_data["Date"] = pd.to_datetime(commodity_data['Date'])

In [10]:
commodity_data.to_csv('commodity_data_complied.csv')